# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/

# Production
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# IDEs/Editors
.vscode/
.idea/
*.swp
*.swo
.project
.classpath
.settings/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
.env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.tox/
.nox/
.coverage
htmlcov/
.mypy_cache/
.hypothesis/
.dmypy.json
dmypy.json

# Tool Specific
faiss_store_enhanced/
uploads/
audio_files/
reports/
uploaded.pdf
optimized_resume.txt
Cold_Emails.json
cmd.txt
tsconfig.tsbuildinfo

