absl-py
accelerate
acres
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
aliyun-python-sdk-core
aliyun-python-sdk-kms
altair
annotated-types
anyio
appdirs
asttokens
attrs
backoff
bcrypt
beautifulsoup4
bitarray
bitstring
bleach
blinker
blis
branca
brotli
build
cachetools
catalogue
catboost
certifi
cffi
cfgv
charset-normalizer
chromadb
ci-info
ckzg
click
cloudpathlib
cloudpickle
colorama
coloredlogs
comm
comtypes
confection
configobj
configparser
contourpy
crcmod
crewai
cryptography
cssselect2
cvzone
cycler
cymem
cytoolz
dataclasses-json
datasets
debugpy
decorator
defusedxml
dill
diskcache
distlib
distro
dnspython
docopt
docstring_parser
docx2txt
durationpy
ecdsa
esptool
et_xmlfile
etelemetry
eth-account
eth-hash
eth-keyfile
eth-keys
eth-rlp
eth-typing
eth-utils
eth_abi
evaluate
executing
faiss-cpu
fastapi
fastjsonschema
fastuuid
filelock
filetype
Flask
flask-cors
flatbuffers
folium
fonttools
from-root
frozenlist
fsspec
gdown
geographiclib
geopandas
geopy
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
googleapis-common-protos
graphviz
greenlet
groq
grpcio
grpcio-status
gym
gym-notices
h11
h5py
hexbytes
hf-xet
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
identify
idna
imbalanced-learn
imblearn
importlib_metadata
importlib_resources
instructor
intelhex
iostream
ipykernel
ipython
ipython_pygments_lexers
itsdangerous
jedi
Jinja2
jiter
jmespath
joblib
json5
json_repair
jsonpatch
jsonpointer
jsonref
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
keras
kiwisolver
kubernetes
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-groq
langchain-huggingface
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
lightgbm
litellm
looseversion
lxml
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mcp
mdurl
mistune
ml_dtypes
mmcls
mmh3
mmsegmentation
model-index
mpmath
multidict
multiprocess
murmurhash
mypy_extensions
namex
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nibabel
nipype
nltk
nodeenv
numpy
oauth2client
oauthlib
onnxruntime
openai
opencv-contrib-python
opencv-python
opencv-python-headless
opendatalab
openmim
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
openxlab
optree
ordered-set
orjson
ormsgpack
osmnx
oss2
outcome
overrides
packaging
pandas
pandocfilters
parsimonious
parso
pathlib
pdfkit
pdfminer.six
pdfplumber
pi_heif
pillow
pillow-avif-plugin
pipreqs
platformdirs
plotly
portalocker
posthog
pre_commit
preshed
prettytable
prompt_toolkit
propcache
proto-plus
protobuf
prov
psutil
pure_eval
puremagic
py-cpuinfo
pyarrow
pyasn1
pyasn1_modules
pybase64
pycparser
pycryptodome
pydantic
pydantic-settings
pydantic_core
pydeck
pydot
PyDrive
pydyf
Pygments
PyJWT
pymongo
PyMuPDF
pyogrio
pyparsing
PyPDF2
pypdfium2
pyphen
PyPika
pypiwin32
pyproj
pyproject_hooks
pyreadline3
pyserial
PySocks
pytesseract
python-dateutil
python-dotenv
python-multipart
pyttsx3
pytz
pyunormalize
pywin32
pyxnat
PyYAML
pyzmq
rdflib
reedsolo
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rlp
roboflow
rogue
rouge_score
rpds-py
rsa
safetensors
scikit-learn
scipy
seaborn
selenium
sentence-transformers
setuptools
shapely
shellingham
simplejson
six
sklearn-compat
smart_open
smmap
sniffio
sortedcontainers
sounddevice
soundfile
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
stack-data
starlette
streamlit
supervision
sympy
tabulate
tenacity
thinc
threadpoolctl
tiktoken
tinycss2
tinyhtml5
tokenizers
toml
tomli
tomli_w
toolz
torch
torchaudio
torchvision
tornado
tqdm
traitlets
traits
transformers
trio
trio-websocket
typer
typer-slim
types-requests
typing-inspect
typing-inspection
typing_extensions
tzdata
ultralytics
ultralytics-thop
uritemplate
urllib3
uuid_utils
uv
uvicorn
virtualenv
wasabi
watchdog
watchfiles
wcwidth
weasel
weasyprint
web3
webencodings
websocket-client
websockets
Werkzeug
wheel
wrapt
wsproto
xgboost
xxhash
xyzservices
yarg
yarl
zipp
zopfli
zstandard
